In [ ]:
#Q1 Write Python function that takes two inputs
#and return their sum value

def function(a,b):
    return(a+b)

c = function(3,4)
print(c)

7

In [ ]:
#Q2 Write Python function the takes a celsius temprature
#and converts it into fahrenheit

def fah(cel):
    fah_v = (cel * 1.8) + 32
    return fah_v

fah_v_r=fah(23)
print(fah_v_r)

73.4

In [ ]:
#Q3 Write a Python function to find the Max of three numbers

def max(a,b,c):
    if(a>b and a>c):
        str1="a is max"
        return str1
    elif(b>a and b>c):
        str1="b is max"
        return str1
    else:
        str1="c is max"
        return str1
    
print(max(3,6,2))

b is max

In [ ]:
#Q4 Write a Python function to check whether a number
#is in a given range [5,12]

def test_range(n):
    i=0
    t=int(n)
    for n1 in range(5,12):
        if(n1==t):
            print( " %s is in the range"%str(t))
            break;
        else:
            print("The number is outside the given range.")
            break;
        
x=input()
test_range(x)

78
The number is outside the given range.

In [2]:
#Q5 Write a Python function that takes a list
#and returns a new list with unique elements of the first
#Sample_List : [1,2,3,3,3,3,4,5]

def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [ ]:
#Q6 Given a list of numbers, return True if first
#and last number of a list is same
#list1=[1,2,5,4,1]
#list2=[5,6,3,2,1]
#list3=[88,44,55,66,77,88]

def list1(x):
    y = len(x)
    str1="False"
    if x[0] == x[y-1]:
        str1="True"
    return str1

print(list1([1,2,5,4,1]))

True